.header > * {
    position: relative;
    z-index: 1;
}
.header::after{
    position: absolute;
    content: "";
    background: #00000099;
    width: 100%;
    top: 0;
    bottom: 0;
}

.header {
    background: url('./../images/ng-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 50vh;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
}
.header-text {
    padding: 60px 0 40px;
}
.header-text h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
}
.features{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 40px 0;
}
.features > div {
    padding: 10px;
}
.act .btn:hover {
    background-color: transparent;
    transition: background-color 1s ease;
}

.header > a{
    position: absolute;
    top: 10px;
    left: 20px
}
.title {
    margin: 60px 20px 20px;
}

@keyframes rollIn {
    0% {
        opacity: 0;
        transform: translateX(-100%) rotate(-120deg);
    }

    20%, 80% {
        opacity: 1;
        transform: translateX(0px) rotate(0deg);
    }
    100% {
        opacity: 0;
        transform: translateX(100%) rotate(120deg);
    }
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    20%, 80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.features img {
    width: 200px;
    max-width: 100%;
}