* {
    box-sizing: border-box;
}
:root {
    --primaryColor: #108a0e;
    --lightPrimaryColor: #edffe8;
    --lightGray: #cccccc;
    --accentColor: #0B6767;
    --accentColorTwo: #8A0E54;
    --secondaryColor: #444444;
}
body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
.container {
    width: 95%;
    margin: 0 auto;
}
header{
    background-color: var(--lightPrimaryColor);
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 0px 1px 2px 2px #eaeaea;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
main {
    min-height: calc(100vh - 160px);
}
footer {
    background-color: var(--secondaryColor);
    color: #ffffff;
    margin-top: 30px;
    padding: 15px;
}
nav {
    display: flex;
    align-items: center;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav ul li{
    display: inline-block;
    position: relative;
}
.nav-link {
    text-decoration: none;
    display: block;
    background-color: var(--accentColo);
    color: var(--accentColor);
    padding: .5rem .75rem;
    transition: background-color 1s linear;
}
.nav-link:hover {
    background-color: var(--accentColor);
    color: #ffffff;
}
.nav-link.active {
    border-bottom: 2px solid var(--accentColor);
}
.nav-link .user-icon {
    height: 20px;
    vertical-align: middle;
}
.nav-dropdown ul li {
    display: block;
    list-style: none;
    padding: 0;
}
.nav-dropdown ul {
    display: none;
    width: 100%;
    background-color: #ced4cc;
}
.nav-dropdown:hover ul{
    display: block;
    position: absolute;
}
.nav-toggle img{
    max-width: 100%;
}
.nav-toggle {
    display: none;
    cursor: pointer;
    width: 50px;
    padding: 0 10px;
    align-self: center;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.col-1 {
    flex-basis: 33.33%;
}
.col-2 {
    flex-basis: 50%
}
.col-3 {
    flex-basis: 100%
}
.dash-items {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.dash-items div {
    text-align: center;
    padding: 20px;
}
.dash-items .item-pp {
    background: var(--secondaryColor);
    color: #ffffff;
}
.dash-items .item-po {
    background: #8A0E54;
    color: #ffffff;
}
.dash-items .item-us {
    background: #ff0000;
}
.dash-items a {
    text-decoration: none;
    color: #ffffff;
    background-color: var(--primaryColor);
    display: inline-block;
    padding: .25rem .75rem;
}
.card {
    box-shadow: 1px 1px 3px 3px #cccccc;
}
.count {
    font-size: 48px;
    margin: 2rem;
}

.pb-3 {
    padding-bottom: 1rem;
}
.table-responsive {
    overflow: auto;
}
.table {
    width: 100%;
    padding: 20px;
}
table{
    border-collapse: collapse;
}
th {
    padding: .75rem .5rem;
    background-color: #444444;
    color: #ffffff;
    text-align: left;
}
td {
    border-bottom: 1px solid #cccccc;
    padding: .5rem;
    background: #f5f5f5;
    color: #333333;
}
tr:nth-child(even) td {
    background-color: unset
}

#registerPage, #loginPage {
    background-color: var(--lightPrimaryColor);
    padding: 20px 0;
}
#registerPage main, #loginPage main{
    min-height: unset;
}
#registerPage footer, #loginPage footer{
    background-color: unset;
}
#registerPage header, #loginPage header{
    text-align: center;
    border-bottom: unset;
    box-shadow: unset;
}
#loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
.logo {
    height: 60px;
}
.auth-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: var(--lightPrimaryColor);
}
.auth-container {
    box-shadow: 0px 0px 6px #c0c0c0;
    background-color: #ffffff;
    max-width: 480px;
    width: 100%;
    padding: 0 35px;
}
.form-control {
    padding: 0.35rem 0.75rem;
    border: 1px solid var(--lightGray);
    border-radius: 5px;
    text-align: right;
}
.form-control:focus {
    outline: 0;
    border-radius: 0;
    border-color: #444444;
}
.input-group {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.input-group label {
    margin-right: 7px;
}
.input-group input:not([type='checkbox']), select {
    flex-grow: 1 !important;
}
.input-group .upload-image img {
    max-width: 200px;
    display: block;
    margin: auto;
}
.input-group .upload-image {
    flex-basis: 100%;
    margin-bottom: 1rem;
}
.form-error {
    color: #ff0000;
    font-size: 0.8rem;
    flex: 0 0 100%;
    text-align: right;
    margin: 3px;
}
fieldset {
    width: 100%;
    border: 1px solid var(--lightGray);
}
button {
    cursor: pointer;
    padding: .4rem 1.2rem;
}
button:hover {
    opacity: 0.8;
}
.btn {
    padding: .1rem .75rem;
    text-decoration: none;
    display: inline-block;
    margin: auto 5px;
}
.btn-edit {
    font-size: 0.85rem;
    color: #ffffff;
    background-color: #235f18;
}
.btn-delete {
    font-size: 0.85rem;
    color: #000000;
    background-color: #ff0000;
}
.btn-green {
    background-color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    color: #ffffff;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
span.help {
    border: 1px solid var(--lightGray);
    border-radius: 50%;
    height: 18px;
    width: 18px;
    text-align: center;
    display: inline-block;
    font-size: 0.8rem;
    vertical-align: bottom;
    cursor: help;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideUp {
    0% {
        top: 100%;
    }
    80% {
        top: 10%;
    }
    100% {
        top: 0;
    }
}
@keyframes slideDown {
    0% {
        top: -100%;
    }
    80% {
        top: -10%;
    }
    100% {
        top: 0;
    }
}
@keyframes shakeIt {
    10%, 90% {
      transform: translate3d(-1px, 1px, 0);
      top: 0;
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 3px, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  
.modal {
    position: fixed;
    display: none;
    overflow: auto;
    background: #0000008c;
    top: 100%;
    padding: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.modal.show .modal-content.shake {
    animation: shakeIt 0.5s linear;
}
.modal-content {
    position: absolute;
    top: 0;
    max-width: 500px;
    min-width: 35vw;
    padding: 25px;
    margin: 40px auto;
    background-color: #ffffff;
}
#dialogModal.show .modal-content.slide-in{
    animation: slideDown 0.4s linear;
}
.modal.show .modal-content.slide-in{
    animation: slideUp 0.4s linear;
}
.modal.show {
    display: flex;
    opacity: 1;
    top: 0;
    animation: fadeIn 0.5s linear;
}
span.modal-close {
    position: absolute;
    z-index: 2;
    right: 25%;
    top: 30px;
    background: red;
    padding: 5px;
    cursor: pointer;
}
.ml-auto {
    margin-left: auto;
}


@media only screen and (max-width: 767px) {
    .header nav {
        flex: 0 0 100%;
    }
}
@media only screen and (max-width: 540px) {
    .auth-container {
        padding: 0 15px;
        margin: 0 15px;
    }
    .input-group {
        flex-direction: column;
        align-items: unset;
    }
    .form-control {
        text-align: left;
        width: 100%;
    }
    .header nav {
        display: none;
    }
    .header nav.show {
        display: flex;
    }
    .nav-toggle {
        display: inline-block;
    }
    .col-1, .col-2, .col-3{
        flex-basis: 100%;
    }
}
